// variables
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
$background-color: #f9f9f9;
$text-color: #333333;
$border-color: #e0e0e0;
$border-radius: 10px;
$padding: 10px;
$background-image: url('../images/background.jpg');

// mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-styling ($width: 100%, $margin: 0 auto) {
    background-color: $background-color;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    color: white;
    text-align: center;
    width: $width;
    margin: $margin;
    background-image: $background-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin responsive-plot($padding, $border-radius) {
    color: $text-color;
    border: 2px solid $border-color;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    // responsive sizing
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 500px; // fixed height, or it collapses upon itself

    // media queries
    @media (min-width: 1200px) {
        width: 100%;
    }

    @media (min-width: 768px) {
        padding: $padding * 0.5;
    }
}

// general styles
body {
    padding-top: 60px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: $padding;
    text-align: center;
    border-bottom: 2px solid white;
}

h2 i {
    padding: 5px; /* icons in head banner */
}

// neighborhood drop down
#neighborhoods-control {
    padding: $padding;
    @include flex-center;
    flex-direction: column;
}

#neighborhoods-dropdown {
    min-width: 200px;
    max-width: 100%;
    border-radius: $border-radius;
    padding: 5px;
    box-sizing: border-box;
    color: $text-color;
    font-size: 1.2em;
}

#neighborhoods-dropdown option {
    white-space: nowrap;
}

// misc. styles
.col-md-12.jumbotron {
    margin: 60px 0 0 0;
    color: white;
}

.custom-hr {
    border: none;
    // height: 20px;
    background-color: white;
    margin: 0;
}

.stats-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

// box styles
.welcome-box {
    @include box-styling (50%, 10px auto);
}

#info-box {
    @include box-styling (80%, 10px auto);
}

// Leaflet tile bug fix
.leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
    width: 100%;
    height: 100vh;
}

/* Leaflet layers control */
.leaflet-control-layers {
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;;
}

.leaflet-control-layers-expanded {
    background-color: $background-color;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    padding: 5px;
}

.leaflet-control-layers-list label {
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color: $text-color;
}

// map container
.map-container {
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    border-color: $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    position: relative;
    overflow: hidden;
}

// marker CSS
.marker-popup {
    font-size: 16px;
    border-color: $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

// plots
.plot {
    margin-bottom: 10px;
    overflow-x: hidden; // prevent horizontal overflow
    box-sizing: border-box; // include padding in width/height calculations
    @include responsive-plot(0px, $border-radius);
}


.custom-legend {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 18px;
    color: #555;
  }
  
  .custom-legend .legend-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .custom-legend .legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 2px;
  }